<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

Meslek Sil
<hr/>

<form method="post" data-th-action="@{/job/delete}" data-th-object="${jobListDto}">
    <input data-th-field="${jobListDto.id}" type="hidden"/>
    <fieldset>
        <legend>Silme İşlemi</legend>
        <span data-th-text="${jobListDto.name}"></span> isimli kayıt silinsin mi?
        <a href="#" data-th-href="@{/jobs}">Hayır</a>
        <button type="submit">Evet</button>
    </fieldset>
</form>

</body>
</html>