<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

Meslek Güncelle
<hr/>

<form method="post" data-th-action="@{/job}" data-th-object="${jobListDto}">
    <input data-th-field="${jobListDto.id}" type="hidden"/>
    <table>
        <tr>
            <td>Meslek Adı</td>
            <td><input data-th-field="${jobListDto.name}" type="text"/></td>
        </tr>
        <tr>
            <td>Aktif mi?</td>
            <td><input data-th-field="${jobListDto.active}" type="checkbox"/></td>
        </tr>
    </table>
    <button type="submit">Güncelle</button>
</form>

</body>
</html>