# Add any directories, files, or patterns you don't want to be tracked by version control

### Java template
*.class
# Package Files #
*.jar
*.war

### JetBrains
# User-specific stuff:
.idea/

.gradle/

!gradle-wrapper.jar
!ojdbc6.jar

build/
out/