<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

İlçe Güncelle
<form method="post" data-th-action="@{/district}" data-th-object="${districtDto}">
    <input data-th-field="*{id}" type="hidden"/>
    <table>
        <tr>
            <td>Ülke Adı</td>
            <td>
                <select class="form-control" id="cityId" name="cityId">
                    <option value="">Ülke Seçiniz.</option>
                    <option data-th-each="city : ${cities}"
                            data-th-value="${city.id}"
                            data-th-selected="(${city.id} == *{cityDto.id})"
                            data-th-text="${city.name}+' : '+${city.code}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Şehir Adı</td>
            <td><input data-th-field="*{name}" type="text"/></td>
        </tr>
        <tr>
            <td>Aktif Mi?</td>
            <td><input data-th-field="*{Active}" type="checkbox"/></td>
        </tr>
    </table>

    <button type="submit">Güncelle</button>
</form>

</body>
</html>