<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

Şehir Ekle
<form method="post" data-th-action="@{/city}" data-th-object="${cityDto}">
    <table>
        <tr>
            <td>Şehir Adı</td>
            <td><input data-th-field="*{name}" type="text"/></td>
        </tr>
        <tr>
            <td>Kod</td>
            <td>
                <input data-th-field="*{code}" type="text"/></td>
        </tr>


        <tr>
            <td>Büyükşehir Mi?</td>
            <td><input data-th-field="*{Big}" type="checkbox"/></td>
        </tr>

        <tr>
            <td>Aktif Mi?</td>
            <td><input data-th-field="*{Active}" type="checkbox"/></td>
        </tr>
    </table>

    <button type="submit">Ekle</button>
</form>

</body>
</html>