<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
Cities

<hr/>

<table>
    <tr>
        <th>
            Ülke Adı
        </th>
        <th>
            Şehir Adı
        </th>
        <th>
            Kod
        </th>
        <th>
            Büyükşehir mi?
        </th>
        <th>
            Aktif mi?
        </th>
        <th>
            İşlemler
        </th>
    </tr>
    <tr data-th-each="city : ${cities}" data-th-object="${city}">
        <td data-th-text="*{countryDto.name}">
            Türkiye
        </td>
        <td data-th-text="*{name}">
            Ankara
        </td>
        <td data-th-text="${city.code}">
            06
        </td>
        <td data-th-text="${city.isBig}?'Evet':'Hayır'">
            Evet
        </td>
        <td data-th-text="${city.isActive}?'Evet':'Hayır'">
            Evet
        </td>
        <td>
            <a href="#" data-th-href="@{'/city/{id}'(id=${city.id})}">Detay</a>
            <a href="#">Güncelle</a>
            <a href="#">Sil</a>
            <a href="#">İlçeler</a>
        </td>
    </tr>
</table>

</body>
</html>