<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<form method="post" data-th-action="@{/city/delete}" data-th-object="${cityDto}">
    <input data-th-field="*{id}" type="hidden"/>
    <fieldset>
        <legend>Silme İşlemi</legend>
        <span data-th-text="*{name}"></span> isimli kayıt silinsin mi?
        <a href="#" data-th-href="@{/cities}">Hayır</a>
        <button type="submit">Evet</button>
    </fieldset>
</form>

</body>
</html>