<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

Şehir Detayı

<table>

    <tr>
        <td>Ülke Adı</td>
        <td data-th-text="${city.countryDto.name}"></td>
    </tr>
    <tr>
        <td>Şehir Adı</td>
        <td data-th-text="${city.name}"></td>
    </tr>
    <tr>
        <td>Kod</td>
        <td>
            <input data-th-value="${city.code}" value="Test1"
                   disabled="disabled"/></td>
    </tr>

    <tr>
        <td>Büyükşehir mi?</td>
        <td data-th-text="${city.Big}?'Evet':'Hayır'"></td>
    </tr>
    <tr>
        <td>Aktif mi?</td>
        <td data-th-text="${city.Active}?'Evet':'Hayır'"></td>
    </tr>
</table>


</body>
</html>