<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

Ülke Ekle
<form method="post" data-th-action="@{/country}" data-th-object="${countryDto}">
    <table>
        <tr>
            <td data-th-text="#{country.name}">Ülke Adı</td>
            <td><input data-th-field="*{name}" type="text"/></td>
            <td data-th-if="${#fields.hasErrors('name')}" data-th-errors="*{name}">Name Error</td>
        </tr>
        <tr>
            <td>Ülke Kodu</td>
            <td><input data-th-field="*{code}" type="text"/></td>
            <td data-th-if="${#fields.hasErrors('code')}" data-th-errors="*{code}">Code Error</td>
        </tr>
        <tr>
            <td>İngilizce Adı</td>
            <td><input data-th-field="*{enName}" type="text"/></td>
        </tr>
        <tr>
            <td>Aktif Mi?</td>
            <td><input data-th-field="*{isActive}" type="checkbox"/></td>
            <td data-th-if="${#fields.hasErrors('isActive')}" data-th-errors="*{isActive}">Is active Error</td>
        </tr>
    </table>

    <button type="submit">Ekle</button>
</form>

</body>
</html>