<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<table>
    <tr>
        <th>Ülke Adı</th>
        <th>İngilizce Adı</th>
        <th>Ülke Kodu</th>
        <th>Aktif Mi?</th>
        <th>İşlemler</th>
    </tr>
    <tr data-th-each="country:${countries}">
        <td data-th-text="${country.name}"></td>
        <td data-th-text="${country.enName}"></td>
        <td data-th-text="${country.code}"></td>
        <td data-th-text="${country.isActive}? 'Evet' : 'Hayır' "></td>
        <td><a href="#" data-th-href="@{'/country/{id}'(id=${country.id})}"> Detay </a>
            <a href="#" data-th-href="@{'/country/{id}/edit'(id=${country.id})}"> Güncelle</a>
            <a href="#" data-th-href="@{'/country/{id}/delete'(id=${country.id})}"> Sil</a>
            <a href="#" data-th-href="@{'/country/{id}/cities'(id=${country.id})}"> Şehirler</a>
        </td>
    </tr>
</table>

</body>
</html>