<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

Ülke Detayı

<table>
    <tr>
        <td>Ülke Adı</td>
        <td data-th-text="${country.name}"></td>
    </tr>
    <tr>
        <td>Ülke Kodu</td>
        <td>
            <input data-th-value="${country.code}" value="Test1"
                   disabled="disabled"/></td>
    </tr>
    <tr>
        <td>İngilizce Adı</td>
        <td data-th-text="${country.enName}"></td>
    </tr>
    <tr>
        <td>Aktif Mi?</td>
        <td data-th-text="${country.isActive}?'Evet':'Hayır'"></td>
    </tr>
</table>


</body>
</html>