<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

Ünvan Ekle
<hr/>

<form method="post" data-th-action="@{/title}" data-th-object="${titleListDto}">
    <table>
        <tr>
            <td>Ünvan Adı</td>
            <td><input data-th-field="${titleListDto.name}" type="text"/></td>
        </tr>
        <tr>
            <td>Aktif mi?</td>
            <td><input data-th-field="${titleListDto.active}" type="checkbox"/></td>
        </tr>
    </table>

    <button type="submit">Ekle</button>
</form>

</body>
</html>